@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Pacifico&display=swap');

#titleName {
    font-family: "Inter", sans-serif;
        font-optical-sizing: auto;

}
#box:hover > img{
    scale: 1.2;
}