@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";



*{
    font-family: "Inter", sans-serif
}

::-webkit-scrollbar{
  display:  none;
}
@theme{
  --color-primary: #5044E5 ; 
}